<!-- Section How-it-works -->
<section class="order-section container" id="how-it-works">
  <div class="order">
    <!-- Section Image -->
    <div class="image-container">
      <picture>
        <source
          media="(min-width: 1280px)"
          srcset="
            /img/how-it-works/h-it-w-desk.webp    1x,
            /img/how-it-works/h-it-w-desk@2x.webp 2x
          "
        />
        <source
          media="(min-width: 768px)"
          srcset="
            /img/how-it-works/h-it-w-tab.webp    1x,
            /img/how-it-works/h-it-w-tab@2x.webp 2x
          "
        />
        <source
          media="(max-width: 768px)"
          srcset="
            /img/how-it-works/h-it-w-mob.webp    1x,
            /img/how-it-works/h-it-w-mob@2x.webp 2x
          "
        />
        <img
          class="content-image"
          src="/img/how-it-works/h-it-w-desk.webp"
          alt="Woman preparing vegetables"
        />
      </picture>
    </div>
    <!-- Section Image -->

    <!-- Section-Content -->
    <div class="content">
      <!-- Hidden-title -->
      <h2 class="visually-hidden">How to Order Your Vegetable Basket</h2>
      <!-- Hidden-title -->

      <h2 class="content-title">
        TO ORDER YOUR <span class="highlight">VEGETABLE</span> BASKET, SIMPLY
        FOLLOW THESE <span class="highlight">EASY STEPS</span>
      </h2>
      <p class="content-description">
        Our baskets are assembled with care and delivered straight to your
        doorstep, so you can enjoy the taste of fresh vegetables without ever
        leaving your home.
      </p>

      <!-- Order-steps -->
      <ol class="steps-list">
        <li class="steps-item">
          <p class="steps-item-text">
            Just choose
            <span class="steps-item-highlight">the vegetable</span> you want to
            order by clicking on the checkboxes
            <span class="steps-item-highlight">next to it.</span>
          </p>
        </li>
        <li class="steps-item middle">
          <p class="steps-item-text">
            Click on
            <span class="steps-item-highlight">the basket</span> and fill out
            the form.
          </p>
        </li>
        <li class="steps-item">
          <p class="steps-item-text">
            Sit back and relax! Your
            <span class="steps-item-highlight">fresh vegetables</span>
            basket will be delivered.
          </p>
        </li>
      </ol>
      <!-- /Order-steps -->
    </div>
    <!-- /Section-Content -->
  </div>
</section>
<!-- Section How-it-works -->
