<div class="backdrop" data-modal>
    <div class="modal-menu">
      <button class="close" type="button" data-modal-close>
        <svg class="icon-close" width="16" height="16">
          <use href="./img/sprite.svg#icon-close"></use>
        </svg>
      </button>
      <div class="modal-menu">
          <button class="close" type="button" data-modal-close>
              <svg class="icon-close" width="24" height="24">
                  <use href="./img/sprite.svg#icon-close"></use>
              </svg>
          </button>
      <p class="order-form-title">
        Ordering <span class="form-part">from us</span> is quick and easy! Fill
        out <span class="form-sub">the form</span> below and we will contact you!
      </p>
      
          <form class="form-modal">
              <div class="modal">
                  <input class="input form-input" name="user-name" type="text" id="user-name"
                         placeholder="Full Name" >
                  <input class="input form-input input-email" type="email" name="email"
                      pattern="([A-z0-9_.-]+)@([A-z0-9_.-]+)\.([A-z]{2,8})"
                      placeholder="Email" required >
          <textarea
            name="form-textarea"
            class="modal-textarea"
            id="user-comment"
            placeholder="Comment"
          ></textarea>
               </div>
        <button class="modal-form-btn" type="submit" disabled>Send</button>
      </form>
    </div>
  </div>
  </div>
  