<section class="section-reviews" id="reviews">
  <div class="container reviews-container">
    <h2 class="reviews-title">
      Reviews from our
      <span class="reviews-accent">customers</span>
    </h2>

    <p class="reviews-text">
      Words of our customers: impressions and opinions about the quality of our
      services and the freshness of our products.
    </p>

    <ul class="reviews-list">
      <li class="reviews-item">
        <img
          class="reviews-card"
          src="/img/reviews/customer-1.webp"
          srcset="
            /img/reviews/customer-1.webp    1x,
            /img/reviews/customer-1@2x.webp 2x
          "
          alt="customer-1"
          width="56"
        >
        <div class="customer-feedback">
          <h3 class="title-customer">John Wax</h3>
          <p class="text-customer">
            These vegetables are my secret to delicious and healthy meals. The
            quality is always at the highest level, the aroma and taste are
            enchanting. I advise every fan of real products!
          </p>
        </div>
      </li>

      <li class="reviews-item">
        <img
          class="reviews-card"
          src="/img/reviews/customer-2.webp"
          srcset="
            /img/reviews/customer-2.webp    1x,
            /img/reviews/customer-2@2x.webp 2x
          "
          alt="customer-2"
          width="56"
        >

        <h3 class="title-customer">Victoria Romashenko</h3>
        <p class="text-customer">
          I love how fast and fresh the vegetables are delivered. Salads always
          turn out so appetizing, and soups are real masterpieces. The quality
          is impeccable!
        </p>
      </li>

      <li class="reviews-item">
        <img
          class="reviews-card"
          src="/img/reviews/customer-3.webp"
          srcset="
            /img/reviews/customer-3.webp    1x,
            /img/reviews/customer-3@2x.webp 2x
          "
          alt="customer-3"
          width="56"
        >

        <h3 class="title-customer">Ihor Trachuk</h3>
        <p class="text-customer">
          Recently tried my fresh tomatoes and peppers - amazing! The
          authenticity of the taste, as if from the garden directly to my table.
          It is now my main vegetable supplier.
        </p>
      </li>
    </ul>
  </div>
</section>
