.section-footer {
  background-color: #7a3145;
  padding: 40px 0;
  color: #fbfbfb;
}

.footer-logo-contact-wrapper {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.footer-text-wrapper {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.footer-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.42857;
  color: #fbfbfb;
  width: 288px;
}

.nav-wrapper {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.footer-nav-list {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.footer-nav-link {
  font-weight: 600;
  font-size: 32px;
  line-height: 1;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #fbfbfb;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out, color 0.3s ease-in-out;
}

.address-list {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.address-list-item {
  max-width: 179px;
  max-height: 40px;
}

.address-list-link {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.42857;
  color: #fbfbfb;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out, color 0.3s ease-in-out;
}

.footer-privacy-wrapper {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footer-privacy-list {
  display: flex;
  gap: 21px;
}

.footer-privacy-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.42857;
  color: #d4bfc4;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out, color 0.3s ease-in-out;
}

.footer-text-copy {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.42857;
  color: #d4bfc4;
}

.footer-slash {
  position: relative;
}

.footer-slash::after {
  position: absolute;
  content: '/';
  left: 110%;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.42857;
  color: #d4bfc4;
}

/* Анімацыя павелічэння і змены колеру для лагатыпа, меню, адрасу і палітык */
.footer-logo,
.footer-nav-link,
.address-list-link,
.footer-privacy-link {
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out, color 0.3s ease-in-out;
}

.footer-logo:hover,
.footer-nav-link:hover,
.address-list-link:hover,
.footer-privacy-link:hover {
  transform: scale(1.1); 
  opacity: 0.8; 
  color: #7a3145; 
  background-color: #fbfbfb;
}

@media only screen and (min-width: 768px) {
  .section-footer {
    padding: 32px 0;
  }

  .footer-text-wrapper {
    gap: 24px;
    max-width: 265px;
    max-height: 104px;
  }

  .footer-logo-contact-wrapper {
    flex-direction: row;
    gap: 210px;
  }

  .nav-wrapper {
    gap: 64px;
  }

  .footer-nav-list {
    gap: 24px;
  }

  .address-list {
    gap: 24px;
  }

  .footer-privacy-wrapper {
    margin-top: 100px;
    flex-direction: row;
    justify-content: space-between;
  }

  .footer-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.25;
    color: #fbfbfb;
    width: 265px;
  }

  .footer-privacy-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.25;
    color: #d4bfc4;
  }

  .footer-text-copy {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.25;
    color: #d4bfc4;
  }

  .footer-logo {
    width: 216px;
    height: 20px;
  }

  .address-list-item {
    max-width: 215px;
  }

  .address-list-link {
    font-size: 16px;
    line-height: 1.25;
  }

  .footer-slash::after {
    font-size: 16px;
    line-height: 1.25;
  }
}

@media only screen and (min-width: 1280px) {
  .section-footer {
    padding-top: 52px;
    padding-bottom: 52px;
  }

  .footer-logo-contact-wrapper {
    gap: 250px;
  }

  .nav-wrapper {
    flex-direction: row;
    gap: 121px;
  }

  .footer-privacy-list {
    gap: 30px;
  }

  .footer-privacy-wrapper {
    margin-top: 124px;
  }

    .footer-logo:hover,
    .footer-nav-link:hover,
    .address-list-link:hover,
    .footer-privacy-link:hover {
      color: #7a3145;
      background-color: #d4bfc4;
    }
  
    .footer-logo:focus,
    .footer-nav-link:focus,
    .address-list-link:focus,
    .footer-privacy-link:focus {
      color: #7a3145;
      background-color: #fbfbfb;
 }
} 