.section-hero {
  position: relative;
  background-color: #576f35;
  margin: 0 auto;
  width: 100%;
  padding: 0;
}

.hero-container {
  padding: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}

.hero-title {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 52px;
  line-height: 1;
  letter-spacing: -0.01em;
  color: #fbfbfb;
  margin-bottom: 20px;
}

.hero-text {
  padding: 100px 20px 0px 20px;
  margin-bottom: 40px;
}

.hero-descr {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.42857;
  color: #fbfbfb;
}

.hero-image {
  background-image: url(/img/hero/hero-mob-pic.jpg);
  width: 100%;
  height: 300px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 375px;

}

@media (min-resolution: 192dpi) {
  .hero-image {
    background-image: url(/img/hero/hero-mob@2x-min.jpg);
  }
}

/* ---- HERO FOR SMALL PHONES ---- */

@media only screen and (min-width: 320px) {
  .hero-image {
    min-width: 320px;
    height: 256px;
  }
  .hero-title {
    font-size: 46px;
  }
  .hero-text {
    padding: 100px 16px 0 16px;
    margin-bottom: 40px;
    width: 320px;
  }
}
@media only screen and (min-width: 375px) {
  .hero-image {
    width: 375px;
    height: 256px;
  }
  .hero-title {
    font-size: 46px;
  }
  .hero-text {
    padding: 100px 16px 0 16px;
    margin-bottom: 40px;
    width: 375px;
  }
}
/* ---- HERO FOR TABLETS ----*/

@media only screen and (min-width: 768px) {
  
  .hero-text {
    width: 768px;
    padding-top: 120px;
    margin-bottom: 52px;
  }
  .hero-title {
    font-size: 76px;
    margin-bottom: 24px;
  }

  .hero-descr {
    font-size: 16px;
    line-height: 1.25;

    max-width: 603px;
  }

  .hero-image {
    background-image: url(/img/hero/hero-tab-min.jpg);
    height: 536px;
    width: 768px;
  }

  @media (min-resolution: 192dpi) {
    .hero-image {
      background-image: url(../img/hero/hero-tab@2x-min.jpg);
    }
  }
}

/* ---- HERO FOR PC's ---- */
@media only screen and (min-width: 1280px) {
  .hero-container {
    padding: 0;
    display: flex;
    width: 100%;
    overflow: hidden;
    align-items: center;
    justify-content: center;
   padding-left: 100px;
    margin: auto;
    flex-direction: row;
    gap: 38px;
  }

  .section-hero {
    max-width: 1280px;
  }

  .hero-text {
    padding: 232px 0px 0px 0px;
    margin-bottom: 40px;
    width: 504px;
display: flex;
flex-direction: column;
justify-content: left;
  }

  .hero-title {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 76px;
    margin-bottom: 128px;
    width: 504px;
  }

  .hero-descr {
    font-size: 16px;
    line-height: 1.25;
    width: 504px;
  }

  .hero-image {
    background-image: url(/img/hero/hero-pc-min.jpg);
    width: 640px;
    height: 796px;
  }

  @media (min-resolution: 192dpi) {
    .hero-image {
      background-image: url(/img/hero/hero-pc@2x-min.jpg);
    }
  }
}
