.section-reviews {
  background-color: #fbfbfb;
  padding: 80px 0;
  width: 100%;
}
.reviews-title {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 46px;
  line-height: 1.08;
  letter-spacing: -0.01em;
  color: #141414;
  margin-bottom: 20px;
}
.reviews-accent {
  color: #576f35;
}
.reviews-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.4;
  color: #141414;
  margin-bottom: 40px;
  text-align: left;
  width: 100%;
}
.reviews-list {
  display: flex;
  justify-content: space-between; /* Можно оставить для распределения /
  flex-wrap: wrap;
  gap: 24px; / Отступы между элементами */
}
.reviews-item {
  /* width: 100%; */
  max-width: 320px;
  border-radius: 24px;
  padding: 20px 16px;
  text-align: center;
  box-sizing: border-box;
  border: 1px solid #d4bfc4;
}
.reviews-item:nth-child(n + 2) {
  display: none;
}
.reviews-card {
  border-radius: 72px;
  margin-bottom: 24px;
  margin-left: auto;
  margin-right: auto;
}
.title-customer {
  margin-bottom: 8px;
  text-align: center; /* Для текста внутри h3 */
  font-weight: 600;
  font-size: 18px;
  line-height: 111%;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #141414;
}
.text-customer {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.42857;
  text-align: center;
  color: #858585;
  max-width: 288px;
} /* Mobile (375) */
@media only screen and (min-width: 375px) {
  .container.reviews-container {
    width: 100%;
    padding: 0 20px;
    max-width: 375px; /*ограничение ширины */
    margin: 0 auto; /*центрирование */
  }
  .reviews-title {
    font-size: 48px;
  }
  .reviews-text {
    max-width: 335px;
  }

  .reviews-item {
    width: 100%;
  }
} /* Tablet (768px) */
@media only screen and (min-width: 768px) {
  .container.reviews-container {
    width: 100%;
    max-width: 768px;
    padding: 100px 32px;
    margin: 0 auto;
  }
  .reviews-list {
    gap: 24px;
    max-width: 704px; /* Фиксируем ширину элемента */
  }
  .reviews-title {
    font-size: 64px;
    line-height: 1;
    margin-bottom: 24px;
    width: 553px;
  }
  .reviews-text {
    font-size: 16px;
    line-height: 1.25;
    margin-bottom: 52px;
    max-width: 553px;
  }

  .reviews-item:nth-child(1),
  .reviews-item:nth-child(2) {
    display: block; /* Показываем первые два пункта */
  }
  .reviews-item:nth-child(n + 3) {
    display: none;
  }
  .text-customer {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.25;
    max-width: 303px;
  }
} /* Desktop (1280px) */
@media only screen and (min-width: 1280px) {
  .section-reviews {
    padding: 0;
  }
  .container.reviews-container {
    max-width: 1280px;
    width: 100%;
    padding: 80px 100px;
    margin: 0 auto;
  }
  .reviews-list {
    max-width: 1080px;
    /* display: flex;
    justify-content: space-between;  */
    gap: 24px;
    flex-wrap: nowrap; /*Без переноса */
  }
  .reviews-item:nth-child(n + 2) {
    display: block;
  }
  .reviews-item:nth-child(n + 3) {
    display: block; /*Переопределяем правило скрытия для элементов с 3-го и далее*/
  }
}
